/* dashboard.css */

/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff; /* Light blue background */
}

/* Main Content Styling */
.main-content {
    margin-left: 250px;
    padding: 20px;
}