/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #f9c736 25%, grey 50%, #001885 75%);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}

/* Background logo overlay */
body::before {
    content: '';
    position: fixed;
    inset: 0;
    background: url("/public/assets/img/SLU-Main.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.2;
    z-index: -1;
}


/* Add keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.custom-card-size {
    border-radius: 20px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.15); /* Translucent background */
    backdrop-filter: blur(15px); /* Glass effect */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: fadeIn 1s ease-in; /* Apply fade-in animation */
}

.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Same color as the terms and conditions */
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease; /* Transition for hover effects */
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    transform: translateY(-1px); /* Slight upward movement */
    box-shadow: 0 4px 12px rgba(51, 56, 109, 0.2); /* Shadow effect */
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease; /* Smooth transition for hover effects */
}

.btn-secondary:hover {
    background-color: #545b62;
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 4px 12px rgba(108, 117, 125, 0.3); /* Enhanced shadow on hover */
}

.form-floating input {
    border-radius: 10px;
}

.form-check-label a {
    color: #007bff;
    text-decoration: none;
}

.form-check-label a:hover {
    text-decoration: underline;
}

.extra-large-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.link-secondary:hover {
    text-decoration: underline;
}

/* Aligns the toggle button within the form field */
.password-toggle {
    position: absolute;
    top: 50%;
    right: 18px; /* Adjusts horizontal spacing from the input border */
    transform: translateY(-50%);
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

/* Styles for the icon */
.password-toggle i {
    font-size: 1.70rem; /* Adjust icon size */
    color: #6c757d; /* Default color for the icon */
}

/* Hover effect for the icon */
.password-toggle:hover i {
    color: #007bff; 
}

@media (max-width: 768px) {
    .custom-card-size {
        padding: 20px;
    }

    .btn-primary {
        font-size: 16px;
    }
}


